body{
    background-image: url(../img/fondo-contorno-mariposa-dibujada-mano_23-2149021149.avif);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    backface-visibility: visible;
}